<tr>
  <th game-list-table-header-cell title="White" class="col-player"></th>
  <th game-list-table-header-cell title="Black" class="col-player"></th>
  <th game-list-table-header-cell title="" class="col-result"></th>
  <th game-list-table-header-cell title="Event" class="col-event"></th>
  <th game-list-table-header-cell title="#" class="col-round"></th>
  <th game-list-table-header-cell title="Site" class="col-site"></th>
  <th game-list-table-header-cell title="Date" class="col-date"></th>
  <th game-list-table-header-cell title="Moves" class="col-moves"></th>
</tr>
