<tr>
  <td colspan="8">
    <nav aria-label="navigation">
      <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"
            [ngClass]="{ disabled : list.currentPage === 1 || paginating}">
          <a class="page-link"
             aria-label="Previous"
             (click)="loadTable(LoadDirectionEnum.FirstPage)">
            <span aria-hidden="true">&lt;&lt;</span>
          </a>
        </li>
        <li class="page-item"
            [ngClass]="{ disabled : !list.previousPageUrl || paginating}">
          <a class="page-link"
             aria-label="Previous"
             (click)="loadTable(LoadDirectionEnum.PreviousPage)">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>
        <li class="page-item disabled">
          <div class="page-link">
            <span *ngIf="paginating"
                  class="spinner-border spinner-border-sm text-primary" role="status">
              <span class="sr-only">Loading game list</span>
            </span>
            <span *ngIf="!paginating">
              {{ list.currentPage }} / {{ list.totalPages }}
            </span>
          </div>
        </li>

        <li class="page-item"
            [ngClass]="{ disabled : !list.nextPageUrl || paginating}">
          <a class="page-link"
             aria-label="Next"
             (click)="loadTable(LoadDirectionEnum.NextPage)">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
        <li class="page-item"
            [ngClass]="{ disabled : !list.nextPageUrl || paginating}">
          <a class="page-link"
             aria-label="Next"
             (click)="loadTable(LoadDirectionEnum.LastPage)">
            <span aria-hidden="true">&gt;&gt;</span>
          </a>
        </li>

      </ul>
    </nav>
  </td>
</tr>
