<p>Angular Materials Table</p>
<div class="container">
  <div *ngIf="dataSource.loading$ | async"><mat-spinner></mat-spinner></div>
  <table mat-table
         matSort
         [matSortActive]="pagination.sortFields[0].fieldName"
         [matSortDirection]="pagination.sortFields[0]?.matSortDirection"
         matSortDisableClear ="true"
         [dataSource]="dataSource"
         class="mat-elevation-z8 ">
    <mat-spinner></mat-spinner>
    <!--- Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          class="th-lg">
        First
      </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>
    <ng-container matColumnDef="middleName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          class="th-lg">
        Middle
      </th>
      <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header
          class="th-lg">
        Last
      </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
                 [length]="dataSource?.playersCount$ | async"
                 [pageSizeOptions]="[5, 10, 100]"
                 [pageSize]="pageSize"
                 showFirstLastButtons></mat-paginator>

</div>
