<h1 class="text-center">Chess Game Database Summary</h1>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card games-card">
      <div class="card-body">
        <div class="card-subtitle text-center">
          <button href="#" class="card-link btn btn-primary">
            {{ gamesCount }} Games
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card players-card">
      <div class="card-body">
        <div class="card-subtitle text-center">
          <button href="#" class="card-link btn btn-primary">
            {{ playersCount }} Players
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card events-card">
      <div class="card-body">
        <div class="card-subtitle text-center">
          <button href="#" class="card-link btn btn-primary">
            {{ eventsCount }} Events
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card sites-card">
      <div class="card-body">
        <div class="card-subtitle text-center">
          <button href="#" class="card-link btn btn-primary">
            {{ sitesCount }} Sites
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
