.dashboard {
  /* background-color: cornflowerblue; */
  width: 100%;
}
.dashlet {
  width: 200px;
}

.dashlet .title {
  font-weight: bold;
  text-align: left;
}
.dashlet .value {
  text-align: right;
  float: right;
}
.dashlet .top-x {
  font-size: small;
}

.dashlet td {
  padding: 0px;
}
.events-dashlet {
  /* background-color: aquamarine; */
}


.sites-dashlet {
  /* background-color: burlywood; */
}

.players-dashlet {
  /* background-color: darkorange; */
}

.games-dashlet {
  /* background-color: cyan; */
}
