<tr>
  <th title="White"
      game-list-table-header-cell
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-player"></th>
  <th title="Black"
      game-list-table-header-cell
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-player"></th>
  <th title="?"
      game-list-table-header-cell
      sortFieldName="result"
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-result"></th>
  <th title="Event"
      game-list-table-header-cell
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-event"></th>
  <th title="#" 
      game-list-table-header-cell
      sortFieldName="round"
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-round"></th>
  <th title="Site"
      game-list-table-header-cell
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-site"></th>
  <th title="Date"
      game-list-table-header-cell
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-date"></th>
  <th title="Moves"
      game-list-table-header-cell
      [sortFields]="sortFields"
      (reSortEvent)="sortBy($event)"
      class="col-moves"></th>
</tr>
