<div class="container">


  <div>
    <div id="filters" *ngIf="!apiError">
      <i class="fa fa-tasks"></i> Filter and Search controls
    </div>
    <div id="game-list" class="table-responsive">
      <table class="table-sm table-bordered"
             [ngClass]="{
               'table-hover' : !paginating,
               'text-muted' : paginating,
               'table-paginating' : paginating
               }">
        <thead class="thead-dark" *ngIf="!apiError">
          <tr>
            <th class="col-player">White</th>
            <th class="col-player">Black</th>
            <th class="col-result"></th>
            <th class="col-event">Event</th>
            <th class="col-round">#</th>
            <th class="col-site">Site</th>
            <th class="col-date">Date</th>
            <th class="col-moves">Moves</th>
          </tr>
        </thead>

        <tbody *ngIf="games && games.length > 0">
          <tr *ngFor="let g of games">
            <td class="col-player text-truncate" title="{{ g.white }}">{{ g.white }}</td>
            <td class="col-player text-truncate" title="{{ g.black }}">{{ g.black }}</td>
            <td class="col-result text-truncate" title="{{ g.result }}">{{ g.result == "1-0" ? "w" : g.result == "0-1" ? "b" : "½" }}</td>
            <td class="col-event text-truncate" title="{{ g.event }}">{{ g.event }}</td>
            <td class="col-round text-truncate">{{ g.round }}</td>
            <td class="col-site text-truncate" title="{{ g.site }}">{{ g.site }}</td>
            <td class="col-date text-truncate">{{ g.date }}</td>
            <td class="col-moves text-truncate">{{ g.moves }}</td>
          </tr>
        </tbody>

        <tr *ngIf="!games && !apiError">
          <td colspan="8">
            <div class="spinner-border spinner-border-sm text-primary" role="status">
              <span class="sr-only">Loading game list</span>
            </div>
            Loading games...
          </td>
        </tr>
        <tr *ngIf="games && games.length === 0 && !apiError">
          <td colspan="8" class="bg-warning text-light text-center">
            No games found!
          </td>
        </tr>
        <tr *ngIf="apiError">
          <td colspan="8" class="text-danger text-center">
            API Error occurred: {{ errorMessage }}
          </td>
        </tr>
        <tfoot *ngIf="games && games.length > 0">
          <tr>
            <td colspan="8">
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-sm justify-content-center">
                  <li class="page-item"
                      [ngClass]="{ disabled : !previousPage || paginating}">
                    <a class="page-link"
                       aria-label="Previous"
                       (click)="load(previousPage)">
                      <span aria-hidden="true">&lt;</span>
                    </a>
                  </li>
                  <li class="page-item disabled">
                    <div class="page-link">
                      <span *ngIf="paginating"
                            class="spinner-border spinner-border-sm text-primary" role="status">
                        <span class="sr-only">Loading game list</span>
                      </span>
                      <span *ngIf="!paginating">
                        {{ currentPage }}
                      </span>
                    </div>
                  </li>

                  <li class="page-item"
                      [ngClass]="{ disabled : !nextPage || paginating}">
                    <a class="page-link"
                       aria-label="Next"
                       (click)="load(nextPage)">
                      <span aria-hidden="true">&gt;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
