<div class="container">


  <div>
    <div id="filters" *ngIf="!apiError">
      <i class="fa fa-tasks"></i> TODO: Filter and Search controls
    </div>
    <div id="game-list" class="table-responsive">
      <table class="table-sm table-bordered"
             [ngClass]="{
               'table-hover' : !paginating,
               'text-muted' : paginating,
               'table-paginating' : paginating
               }">
        <thead *ngIf="!apiError"
               game-list-table-header
               class="thead-dark"
        ></thead>
        <tbody *ngIf="games && games.length > 0"
               game-list-table-body
               [list]="list"
               [apiError]="apiError"
               [errorMessage]="errorMessage"
        ></tbody>


        <tfoot *ngIf="games && games.length > 0"
               game-list-table-footer
               [list]="list"
               [apiError]="apiError"
               [paginating]="paginating"
               (loadEvent)="load($event)"></tfoot>
      </table>

    </div>
  </div>
</div>
